<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Link CSS -->
    <link rel="stylesheet" href="../static/css/styles.css" />
    <title>Portafolio Personal</title>
  </head>
  <body>
    <!-- HEADER -->
    <header>
      <div class="title">
        <h1>Portafolio Personal</h1>
      </div>
      <div class="nav">
        <a href="#" class="active">Inicio</a>
        <a href="../views/projects.html">Proyectos</a>
      </div>
    </header>

    <!-- MAIN CONTENT -->
    <main>
      <div class="white"></div>
      <div class="blue">
        <div class="img_container">
          <img src="../static/img/IMG-20250115-WA0221.jpg" alt="" />
        </div>
        <div class="box_info">
          <h2>Santiago Capitani</h2>
          <div class="profession">
            <h4>Tecnico Informatico</h4>
            <h4>Estudiante de la UTN (Tecnicatura en Programacion)</h4>
          </div>
          <p>
            Mi nombre es Santiago Capitani. Soy de Argentina, Mendoza. Soy
            apacionado a la programacion, me gusta crear cosas y aprender de
            otros. Me emepce a formar como programador graciasa a la escuela
            secundaria ETEC (Colegio Tecnico de la Universidad de Mendoza).
            Desde ahi desperte una curiosidad inmensa hasta el punto de llegar a
            leer codigo ajeno para seguir aprendiendo y mejorar mi practica.
          </p>
        </div>
      </div>
    </main>

    <!-- SKILLS SECTION -->
    <section class="technology_box_section">
      <div class="technology_box">
        <h2>Mis Habilidades</h2>
        <div class="technology_grid_boxes" id="techContainer"></div>
        <!-- Displays the technologies that are in a js array -->
      </div>
    </section>

    <!-- FOOTER -->
    <footer class="main-footer">
      <div class="footer-content">
        <div class="social">
          <h3>Redes Sociales</h3>
          <a href="https://github.com/Santiagocapi" target="_blank">GitHub</a> |
          <a
            href="https://www.linkedin.com/in/santiago-capitani-clavero-038252327//"
            target="_blank"
            >LinkedIn</a
          >
        </div>
        <div class="universidades">
          <h3>Mis Universidades</h3>
          <div class="logos-universidades">
            <img src="../static/img/UM.png" alt="Universidad de Mendoza" />
            <img src="../static/img/UTN_logo.jpg" alt="UTN" />
          </div>
        </div>
        <p class="footer-note">
          © 2025 Santiago Capitani. Todos los derechos reservados.
        </p>
      </div>
    </footer>
  </body>
  <script src="../static/js/technologies.js"></script>
</html>
