<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Link CSS -->
    <link rel="stylesheet" href="../static/css/styles.css" />
    <title>Portafolio Personal</title>
  </head>
  <body>
    <!-- HEADER -->
    <header>
      <div class="title">
        <h1>Portafolio Personal</h1>
      </div>
      <div class="nav">
        <a href="" class="active">Inicio</a>
        <a href="">Proyectos</a>
      </div>
    </header>

    <!-- MAIN CONTENT -->
    <main>
      <div class="white"></div>
      <div class="blue">
        <div class="img_container">
          <img src="../static/img/IMG-20250115-WA0221.jpg" alt="" />
        </div>
        <div class="box_info">
          <h2>Sobre Mi</h2>
          <div class="profession">
            <h4>Tecnico Informatico</h4>
            <h4>Estudiante de la UTN (Tecnicatura en Programacion)</h4>
          </div>
          <p>
            Mi nombre es Santiago Capitani. Soy de Argentina, Mendoza. Soy
            apacionado a la programacion, me gusta crear cosas y aprender de
            otros. Me emepce a formar como programador graciasa a la escuela
            secundaria ETEC (Colegio Tecnico de la Universidad de Mendoza).
            Desde ahi desperte una curiosidad inmensa hasta el punto de llegar a
            leer codigo ajeno para seguir aprendiendo y mejorar mi practica.
          </p>
        </div>
      </div>
    </main>

    <!-- SKILLS SECTION -->
    <section class="technology_box_section">
      <div class="technology_box">
        <h2>Mis Habilidades</h2>

        <!-- Tecnologia 1 -->
        <div class="technology_grid_boxes">
          <div class="technology_card">
            <img src="../static/img/html.png" alt="HTML" />
            <h3>HTML</h3>
          </div>

          <!-- Tecnologia 2 -->
          <div class="technology_card">
            <img src="../static/img/css.png" alt="CSS" />
            <h3>CSS</h3>
          </div>

          <!-- Tecnologia 3 -->
          <div class="technology_card">
            <img src="../static/img/js.png" alt="JavaScript" />
            <h3>JavaScript</h3>
          </div>

          <!-- Tecnologia 4 -->
          <div class="technology_card">
            <img src="../static/img/React.svg.png" alt="React" />
            <h3>React</h3>
          </div>

          <!-- Tecnologia 5 -->
          <div class="technology_card">
            <img src="../static/img/nodejs.png" alt="Node" />
            <h3>Node</h3>
          </div>
          <!-- Tecnologia 6 -->
          <div class="technology_card">
            <img src="../static/img/Vue.js_Logo_2.svg.png" alt="Vue" />
            <h3>Vue</h3>
          </div>

          <!-- Tecnologia 7 -->
          <div class="technology_card">
            <img src="../static/img/Java.svg.png" alt="Java" />
            <h3>Java</h3>
          </div>

          <!-- Tecnologia 8 -->
          <div class="technology_card">
            <img src="../static/img/Python.svg.png" alt="Python" />
            <h3>Python</h3>
          </div>

          <!-- Tecnologia 9 -->
          <div class="technology_card">
            <img src="../static/img/django.png" alt="Django" />
            <h3>Django</h3>
          </div>

          <!-- Tecnologia 10 -->
          <div class="technology_card">
            <img src="../static/img/Flask_logo.svg.png" alt="Flask" />
            <h3>Flask</h3>
          </div>

          <!-- Tecnologia 11 -->
          <div class="technology_card">
            <img src="../static/img/mongo.png" alt="MongoDB" />
            <h3>MongoDB</h3>
          </div>

          <!-- Tecnologia 12 -->
          <div class="technology_card">
            <img src="../static/img/mysql.png" alt="MySQL" />
            <h3>MySQL</h3>
          </div>

          <!-- Tecnologia 13 -->
          <div class="technology_card">
            <img src="../static/img/GO.png" alt="GO" />
            <h3>GO</h3>
          </div>

        </div>
      </div>
    </section>

    <!-- FOOTER -->
    <footer class="main-footer">
      <div class="footer-content">
        <div class="social">
          <h3>Redes Sociales</h3>
          <a href="https://github.com/Santiagocapi" target="_blank">GitHub</a> |
          <a href="https://www.linkedin.com/in/santiago-capitani-clavero-038252327//" target="_blank">LinkedIn</a>
        </div>
        <div class="universidades">
          <h3>Mis Universidades</h3>
          <div class="logos-universidades">
            <img
              src="../static/img/UM.png"
              alt="Universidad de Mendoza"
            />
            <img
              src="../static/img/UTN_logo.jpg"
              alt="UTN"
            />
          </div>
        </div>
        <p class="footer-note">
          © 2025 Santiago Capitani. Todos los derechos reservados.
        </p>
      </div>
    </footer>
  </body>
</html>
