<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Link CSS -->
    <link rel="stylesheet" href="../static/css/project.css" />
    <title>Mis Proyectos</title>
  </head>
  <body>
    <!-- HEADER -->
    <header>
      <div class="title">
        <h1>Portafolio Personal</h1>
      </div>
      <div class="nav">
        <a href="../views/index.html">Inicio</a>
        <a href="" class="active">Proyectos</a>
      </div>
    </header>

    <!-- MAIN CONTENT (PROJECTS) -->
    <main class="projects_main">
      <h2 class="project_title">Mis Proyectos</h2>
      <div id="project_list" class="project_list"></div>
    </main>
  </body>
  <script src="/static/js/projects.js"></script>
</html>
